* {
    margin: 0px;
}

.container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #656469;
}

.center {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #141414;
    box-shadow: 20px 20px 20px 7px rgb(0 0 0 / 75%);
    -moz-box-shadow: 20px 20px 20px 7px rgba(0, 0, 0, 75%);
    -webkit-box-shadow: 20px 20px 20px 7px rgb(0 0 0 / 75%);
    rotate: 45deg;
    z-index: 2;
}

.second {
    position: absolute;
    width: 650px;
    height: 650px;
    background-color: #1b1b1b;
    box-shadow: 20px 20px 20px 7px rgb(0 0 0 / 75%);
    -moz-box-shadow: 20px 20px 20px 7px rgba(0, 0, 0, 75%);
    -webkit-box-shadow: 20px 20px 20px 7px rgb(0 0 0 / 75%);
    rotate: 45deg;
    z-index: 1;
}

.third {
    position: absolute;
    width: 950px;
    height: 950px;
    background-color: #212121;
    box-shadow: 20px 20px 20px 7px rgb(0 0 0 / 75%);
    -moz-box-shadow: 20px 20px 20px 7px rgba(0, 0, 0, 75%);
    -webkit-box-shadow: 20px 20px 20px 7px rgb(0 0 0 / 75%);
    rotate: 45deg;
}

.upper {
    position: absolute;
    width: 750px;
    height: 750px;
    background-color: #141414;
    rotate: 45deg;
    z-index: -1;
    top: -375px
}

.lower {
    position: absolute;
    width: 750px;
    height: 750px;
    background-color: #1b1b1b;
    rotate: 45deg;
    z-index: -1;
    bottom: -375px
}

/* responsive */
@media screen and (max-width: 430px) {
    .container {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: #656469;
    }

    .center {
        position: absolute;
        width: 300px;
        height: 300px;
        z-index: 2;
    }

    .second {
        position: absolute;
        width: 500px;
        height: 500px;
    }

    .third {
        position: absolute;
        width: 700px;
        height: 700px;
    }

    .upper {
        position: absolute;
        width: 500px;
        height: 500px;
        background-color: #141414;
        rotate: 45deg;
        z-index: -1;
        top:-250px
    }
}