@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap');
*{
    font-family:'Montserrat', sans-serif;
}
h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width:50%;
}
.detail{
    color: gray;
    margin-top: 0px;
}
form div {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}


form input[type="number"] {
    width: 20%;
    padding: 0.5em;
}
.pie{
    width: 50%;
    height: 50%;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: nowrap;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
}

#output {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#output2 {
    text-align: center;
    font-size: 1.5em;
}
